/*QTab*/
QTabWidget::pane
{
    top:20px;
    border:none;
}
QTabBar::tab
{
    color:#333333;
    background:transparent;
    font-size:14px;
    padding-left:-9px;
    padding-right:-9px;
    width:65px;
    height:30px;
    margin-left:0px;
    margin-right:0px;
}
QTabBar::tab:selected
{
    color:#3fb1bd;
    background:transparent;
    font-size:14px;
    border-bottom:2px solid #498b93;
}
QTabBar::tab:hover
{
    color:#50c9d3;
    background:transparent;
    font-size:14px;
}
QTabWidget::tab-bar {
    top:10px;
    left:10px;
}
/*QPushButton*/
QPushButton{
        background-color:#50c9d3;
        border: 1px solid #498b93;
        border-radius:3px;
        color:white;
}
QPushButton:pressed{
        background-color:#3fb1bd;
        border: 1px solid #498b93;
        border-radius:3px;
        color:white;
}
QPushButton:hover{
        background-color:#3fb1bd;
        border: 1px solid #498b93;
        border-radius:3px;
        color:white;
}
